.TopNav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 72px;
    background-color: var(--bg-color);
    box-shadow: 0 2px 12px rgba(0,0,0, .2);
}

@media screen and (min-width: 768px) {
    .TopNav {
        display: none;
    }
}