.ViewQuestion {
    background-color: #fff;
    padding: 24px 36px;
    border-bottom: 1px solid var(--bg-color);
}

.answer-wrap p {
    color: #888;
}

.question-number {
    color: #555;
    font-weight: bold;
    text-decoration: underline;
}

.question-wrap p {
    margin-top: 4px;
}

.action button {
    padding-left: 0;
    color: #666;
    font-weight: bold;
}

.right-answer .ra {
    text-transform: uppercase;
}

@media screen and (min-width: 992px) {
    .ViewQuestion {
        border: none;
        border-radius: 12px;
    }
}