.login-form-wrap {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    background-color: #fff;
    width: 256px;
    padding: 48px 36px;
    border-radius: 16px;
}

.login-form .title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 56px;
}

.forgot {
    color: blue;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 36px;
}

.login-btn {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.goto-register {
    padding: 12px;
    display: flex;
    justify-content: center;
    color: #888;
}

.goto-register a {
    margin-left: 4px;
    color: blue;
}
