.Boarding {
    width: 100%;
    display: flex;
    align-items: center;
}

.do {
    flex: 1 1 0;
}

.filter {
    padding: 0 4px;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .filter {
        font-size: 24px;
    }

    .item {
        margin-bottom: 32px;
    }
}