.Board {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0;
}

.boarding-wrap,
.task-wrap {
    grid-column: 1/-1;
}

.boarding-wrap {
    padding: 24px;
    display: flex;
    align-items: center;
}

.new-enroll {
    flex: 1 1 0;
}

.filter {
    padding: 0 4px;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .Board {
        grid-gap: 32px;
    }

    .boarding-wrap,
    .task-wrap {
        grid-column: 3/-3;
    }

    .filter {
        font-size: 24px;
    }

    .item {
        margin-bottom: 32px;
    }

    .boarding-wrap {
        padding: 24px 0;
    }
}

@media screen and (min-width: 1260px) {
    .boarding-wrap,
    .task-wrap {
        grid-column: 4/-4;
    }
}