.view-mode {
    margin-bottom: 72px;
}

.right-control {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 72px;
    background-color: #f2c600;
    display: none;
}

.bottom-control {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 72px;
    width: 100%;
    background-color: #f7f6f1;
    /* border-top: 2px solid #f2c600; */
    box-shadow: 0 -5px 24px 0 rgba(56, 24, 17, .06);
}

@media screen and (min-width: 768px) {
    .right-control {
        display: block;
    }

    .bottom-control {
        width: calc(100% - 72px);
    }
}