.right-control {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 72px;
    background-color: var(--bg-color);
    transition: .3s ease;
    transform: translateX(100%);
}

.right-control.open {
    width: 100vw;
    display: block;
    transform: translateX(0);
}

.bottom-control {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 72px;
    width: 100%;
    background-color: #f7f6f1;
    /* border-top: 2px solid var(--bg-color); */
    box-shadow: 0 -5px 24px 0 rgba(56, 24, 17, .06);
}

.ExamPage .hamburger {
    position: fixed;
    right: 12px;
    bottom: 84px;
    background-color: var(--bg-color);
    border-radius: 50%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ExamPage .hamburger img {
    width: 32px;
    height: 32px;
    opacity: .8;
}

@media screen and (min-width: 768px) {
    .right-control {
        transform: translateX(0);
    }

    .ExamPage .hamburger {
        display: none;
        pointer-events: none;
    }

    .bottom-control {
        width: calc(100% - 72px);
    }
}