.UserLogin {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    padding: 12px 18px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 4px;
    user-select: none;
    cursor: pointer;
}

.avatar {
    background-color: #eee;
    border: 4px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: .85;
}

.fullname {
    margin-left: 8px;
    display: none;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .fullname {
        display: block;
    }
}