.ButtonPrimary {
    background-color: var(--bg-color);
    border: 2px solid var(--bg-color);
    padding: 12px 18px;
    border-radius: 4px;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0, .1);
    font-size: 16px;
    outline: none;
    transition: .5s ease;
    cursor: pointer;
    user-select: none;
}

.ButtonPrimary:hover {
    background-color: #fff;
    color: #333;
}