.RightNav {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.RightNav .control-group {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    padding-bottom: 128px;
    flex-direction: column;
    justify-content: center;
}

.RightNav .control-group a {
    outline: none;
    text-decoration: none;
    margin-bottom: 12px;
}

.RightNav .control-group img {
    width: 40px;
    opacity: .6;
    background-color: rgba(0,0,0, .05);
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.RightNav .control-group img:hover {
    transform: scale(1.1);
    opacity: .8;
}