.MultiQuestion {
    padding: 0 10%;
    padding-top: 80px;
    overflow-y: scroll;
    height: calc(100vh - 72px);
    box-sizing: border-box;
}

.MultiQuestion .question {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    border-bottom: 2px solid var(--bg-color);
    max-width: 768px;
    margin: auto;
}

.MultiQuestion .question-flag-wrap {
    margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
    .MultiQuestion {
        padding: 80px 0;
        margin-right: 72px;
    }

    .MultiQuestion .question {
        flex-direction: row;
        border: none;
    }

    .MultiQuestion .question-flag-wrap {
        margin-top: 8px;
        padding: 0 12px;
    }
}
