.MultiQuestion {
    padding: 0 10%;
    padding-top: 80px;
    overflow-y: scroll;
    height: calc(100vh - 72px);
    box-sizing: border-box;
}

.MultiQuestion .finish-timer-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f7f6f1;
}

.MultiQuestion .finish-timer-wrap > * {
    min-width: 280px;
    background-color: #f7f6f1;
    padding: 12px 24px;
    box-shadow: 0 4px 18px 0 rgba(0,0,0, .1);
    border-radius: 12px;
    opacity: .4;
    position: relative;
    z-index: 2;
}

.MultiQuestion .finish-timer-wrap > *:hover {
    opacity: 1;
}

.MultiQuestion .question {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    border-bottom: 2px solid #f2c600;
    max-width: 768px;
    margin: auto;
}

.MultiQuestion .question-flag-wrap {
    margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
    .MultiQuestion {
        padding: 80px 0;
        margin-right: 72px;
    }

    .MultiQuestion .question {
        flex-direction: row;
        border: none;
    }

    .MultiQuestion .question-flag-wrap {
        margin-top: 8px;
        padding: 0 12px;
    }
}
