.OverviewExam {
    /* margin-right: 72px; */
    height: calc(100vh - 72px);
    overflow-y: scroll;
}

.OverviewExam .finish-timer-wrap {
    max-width: 768px;
    margin: 48px auto;
    padding: 0 24px;
}

.qa-group {
    max-width: 768px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 24px;
}

.qa {
    flex: 1 1 33.33%;
    font-size: 24px;
    color: #888;
    padding: 8px 0;
    user-select: none;
    cursor: pointer;
}

.qa.non-answer {
    color: red;
}

@media screen and (min-width: 768px) {
    .qa {
        font-size: 36px;
    }

    .OverviewExam {
        margin-right: 72px;
    }
}