.Banner {
    background-color: var(--bg-color);
    padding: 24px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.menubar {
    display: flex;
    align-items: center;
}

.menubar a {
    flex: 1 1 0;
    text-decoration: none;
    color: #fff;
    outline: none;
    font-size: 24px;
}

.brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.brand .logo {
    background-color: #f38a00;
    padding: 12px 14px;
    border-radius: 4px;
}

.brand .name {
    font-weight: bold;
    margin-left: 8px;
}

.login {
    background-color: var(--bg-color);
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.login img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    opacity: .3;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 48px 0 96px 0;
    text-align: center;
    color: #473800;
    text-shadow: 0 0 4px rgba(0,0,0, .1);
    font-family: Courier, monospace;
}

.Banner .head {
    font-size: 48px;
    font-weight: bold;
}

.Banner .content {
    font-size: 24px;
    margin-top: 0;
}

.see-below {
    grid-row: span 1/ -1;
    display: flex;
    justify-content: center;
}

.see-below img {
    width: 56px;
    height: 56px;
    opacity: .6;
}

@media screen and (min-width: 768px) {
    .Banner {
        padding: 48px 80px;
        height: 60vh;
        background-color: transparent;
    }

    .see-below {
        display: none;
    }

    .banner-container {
        margin: 0;
    }
}