.AnswerGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    user-select: none;
    color: #666;
}

.AnswerGroup label {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.AnswerGroup input {
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid var(--bg-color);
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 4px;
    margin: 0;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    outline: none;
    pointer-events: none;
}

.AnswerGroup input:checked:before {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-color: var(--bg-color);
}