.Boarding .enroll-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .2);
    justify-content: center;
    align-items: center;
    display: none;
}

.Boarding .enter-key {
    background-color: #eee;
    width: 320px;
    height: 160px;
    padding: 24px 36px;
    border-radius: 4px;
}

.Boarding .enroll-popup.active {
    display: flex;
}